* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.header-sticky {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  box-shadow: 0 6px 8px grey;
}

header {
  background: url(../img/heroheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 250px;
  display: flex;
  width: 100%;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 68px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

h2, h4 {
  font-family: 'Anton', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  font-weight: normal;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 26px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: 'Anton', sans-serif;
  text-align: left;
  margin-left: 150px;
  text-decoration: underline;
}

h5 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-align: center;
}

.logo-header {
  flex: 1;
}

header .desktop-navigation {
  flex: 2;
}

.logo {
  cursor: pointer;
  width: 20%;
  margin: 20px 0 0 30px;
  position: absolute;
}

.desktop-navigation {
  width: 100%;
  height: 50px;
}

.desktop-navigation ul {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 100px;
}

.desktop-navigation ul li {
  float: left;
  list-style: none;
  margin: 167px 10px 0;
  position: relative;
}

.desktop-navigation ul li a {
  display: block;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding: 21px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1.5s;
}

.desktop-navigation ul li a:hover {
  color: #473EEB;
  transform: scale(1.4);
}

.desktop-navigation ul li a:hover, .active:hover {
  color: #473EEB;
  transform: none;
}

.desktop-navigation ul li ul {
  display: none;
  position: absolute;
  background-color: #d01293;
  margin: 0;
  padding: 0;
  border-radius: 0 0 6px 6px;
}

.desktop-navigation ul li:hover ul {
  display: block;
}

.desktop-navigation ul li ul li {
  padding: 0 5px 5px 5px;
  margin: 0;
  width: 280px;
}

.desktop-navigation ul li ul li a {
  padding: 10px 12px;
}

.mobile-navigation {
  display: none;
}

a.active {
  background-color: #886BF2;
  color: black;
}

a.subactive {
  background-color: #9886F2;
}

.overhead {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 370px;
}

.overhead-p {
  text-align: justify;
  margin: 0 auto;
  padding: 30px 0 0 30px;
  letter-spacing: 0.025em;
  max-width: 90%;
}

.overhead-underline {
  border-bottom: 2px solid black;
  width: 80%;
  margin: 0 auto;
  margin-top: 55px;
}

.overhead-underline-top {
  border-bottom: 2px solid black;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.social {
  padding: 30px;
}

.social a {
  padding: 10px;
  margin: 30px 20px;
  float: right;
  transition: 0.5s;
}

.image-block, .image-block2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.image-block-not-index {
  text-align: center;
  margin-top: 100px;
}

.image-block-not-index>img {
  display: inline-block;
  max-width: 500px;
  width: 300px;
  height: 300px;
  margin: 0 20px;
}

.mobile-image-block-not-index {
  display: none;
}

.explore {
  width: 80%;
}

.mobile-image-block, .mobile-image-block-not-index {
  display: none;
}

.front, .back, .middle {
  margin: 100px 0;
}

/*--hover-flip--*/
.card, .middle, .front {
  flex-basis: auto;
  display: inline-block;
}

.flip {
  display: block;
  padding-top: 100px;
}

.middle {
  display: block;
  float: left;
  margin: 5px;
  left: 25%;
  transform: translate(-0%, -0%);
}

.back {
  cursor: pointer;
}

.card {
  display: block;
  float: left;
  width: 307px;
  height: 292px;
}

.card .front, .back {
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1.0s linear;
  overflow: hidden;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(300px) rotateY(180deg);
}

.card:hover>.front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
  transform: perspective(600px) rotateY(0deg);
}

.back>img, .front>img {
  width: 307px;
  height: 292px;
}

.back-img {
  width: 307px;
  height: 292px;
}

/* Download */
.download {
  display: block;
  width: 100%;
  margin-top: -240px;
  height: 100%;
}

.white {
  margin-left: 280px;
  margin-top: -20px;
  width: 300px;
}

.download>.white {
  color: white;
}

.black {
  width: 600px;
  margin-left: 550px;
  margin-top: -194px;
}

.h1-mobile {
  display: none;
}

.image-block2 {
  margin-bottom: 230px;
}

.download-iPhone {
  width: 100%;
}

.download-iphone>img {
  margin-left: 250px;
  transform: rotatez(-10deg);
  z-index: -1;
}

.download>h1 {
  color: black;
  padding-top: 30px;
}

.download-btn>p {
  color: black;
  width: 60%;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-left: 430px;
  padding-top: 50px;
}

.button-underline {
  border-bottom: 2px solid black;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

.download-btn {
  margin: 60px 50px 0 50px;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: rgb(217, 4, 160);
  background: linear-gradient(0deg, rgba(217, 4, 160, 1) 17%, rgba(200, 237, 245, 1) 100%);
  box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, 0.33);
  margin-bottom: 50px;
}

.download-btn>img {
  width: 16%;
  margin: 5px 100px -30px -20px;
}

.footer-top {
  height: 100px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.footer-bottom {
  height: 450px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.newsletter_btn {
  float: right;
  margin-top: 7px;
  width: 150px;
  height: 48px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border-radius: 20px;
}

.footer-social-mobile {
  display: none;
}

.newsletter-mobile-page {
  display: none;
}

.newsletter-desktop-page {
  height: 50px;
  flex: 1;
  margin-right: 180px;
}

.footer-social-desktop {
  margin-right: 500px;
  margin-top: 8px;
}

.newsletter-house {
  border: 1px solid black;
  box-shadow: 0 4px 8px grey;
  height: 62px;
  width: 350px;
  float: left;
  margin-left: 450px;
  border-radius: 10px;
  background: rgb(125, 114, 247);
  background: linear-gradient(220deg, rgba(125, 114, 247, 1) 52%, rgba(71, 62, 235, 1) 100%);
}

.newsletter-house>h5 {
  font-family: 'Anton', sans-serif;
  float: left;
  padding-left: 20px;
  padding-top: 14px;
  text-decoration: none;
  font-weight: normal;
  font-size: 140%;
  margin: 0;
  letter-spacing: .1em;
}

.opening-hours, .visit, .contact {
  flex: 1;
  margin-top: 50px;
}

.opening-hours>h1, .visit>h1, .contact>h1 {
  margin: 0;
}

.opening-hours>p, .visit>p, .contact>p {
  text-align: center;
  line-height: 1.3em;
  font-size: 21px;
  padding-top: 10px;
  width: 55%;
  margin: 0 auto;
}

.visit, .contact {
  border-left: 2px solid black;
  height: 300px;
}

.opening-hours tr td:first-child {
  width: 55%;
}

table {
  margin: 0 auto;
  padding-top: 10px;
}

tr {
  display: table-row;
}

td {
  display: table-cell;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 1.3em;
  font-weight: bold;
  font-size: 20px;
}

.before_map>h2 {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 5px;
}

.before_map {
  margin-bottom: 10px;
}

.map, .before_map {
  width: 100%;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.copyright {
  display: block;
  width: 100%;
  height: 200px;
  padding-top: 200px;
  margin-bottom: 100px;
}

.copyright>p {
  font-size: 80%;
}

.top {
  float: right;
  padding: 20px 10px;
  margin-right: 30px;
}

@media only screen and (min-width: 1000px) and (max-width: 1135px) {

/* I have a horizontal scroll on 1024px, I can´t find out for what*/

  header{
    width: 100%;
  }
  .logo {
    width: 20%;
  }

  h1 {
    font-size: 290%;
    font-weight: lighter;
  }

  h2 {
    font-weight: lighter;
  }

  h3 {
    font-weight: lighter;
    margin: 5px;
  }

  h4 {
    font-size: 180%;
    margin-top: 60px;
    margin-left: 105px;
    font-weight: lighter;
  }

  p {
    font-size: 90%;
  }


  .desktop-navigation ul {
    margin-right: 50px;
    margin-top: 26px;
  }

  .desktop-navigation ul li a {
    font-size: 14px;
  }

  .desktop-navigation ul li ul {
    margin-left: -70px;
    text-align: center;
  }

  .desktop-navigation ul li ul li {
    width: 235px;
  }

  .overhead {
    margin-top: 300px;
    margin-bottom: 5px;
  }

  .overhead-p {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .download-iphone>img {
    width: 20%;
  }

  .white, .black {
    display: block;
  }

  .white {
    margin-left: 220px;
  }

  .black {
    margin-left: 355px;
    margin-top: -150px;
  }

  .download>p {
    width: 30%;
    margin-left: 550px;
    text-align: justify;
  }

  .h1-mobile {
    display: none;
  }

.newsletter-house{
  margin-left: 0px;
}


.footer-social-links{
  width: 280px;
}

  .button {
    margin-top: 80px;
    padding-left: 235px;
  }

  .footer-top {
    width: 100%;
    margin-left: 100px;
  }

  td{
    font-size: 90%;
  }

  table{
    margin-top: 4px;
  }

  .footer-social-desktop {
    width: 280px;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 736px) and (max-width: 1000px) {
  header {
    height: 200px;
    width: 100%;
  }

  h1 {
    font-size: 290%;
    font-weight: lighter;
  }

  h2 {
    font-weight: lighter;
  }

  h3 {
    font-weight: lighter;
    margin: 5px;
  }

  h4 {
    font-size: 140%;
    margin-top: 60px;
    margin-left: 80px;
    font-weight: lighter;
  }

  p {
    font-size: 90%;
  }

  /* header nav */
  .mobile-navigation {
    display: none;
  }

  .desktop-navigation ul {
    margin-right: 0;
    float: none;
    padding: 0;
    padding-left: 20px;
  }

  .desktop-navigation ul li {
    margin: 122px 0;
  }

  .desktop-navigation ul li a {
    font-size: 14px;
  }

  .desktop-navigation ul li ul li a {
    font-size: 70%;
  }

  .download {
    width: 100%;
    margin: 0;
    height: 280px;
  }

  .download-btn{
    font-size: 70%;
    width: 150px;
    height: 50px;
  }

  .download-btn>img {
    float: left;
    margin: 0 0 0 12px;
    width: 20%;
  }

  .download-btn>p {
    float: right;
    margin: 6px 6px 0;
    padding-left: 4px;
    font-size: 140%;
    font-weight: 900;
  }

  .download-iphone>img {
    margin-top: 100px;
    margin-left: 100px;
    width: 30%;
  }

  .white, .black {
    display: none;
  }

  .h1-mobile {
    display: block;
  }

  .button {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-left: 130px;
    padding-top: 0;
  }

  .apple, .play {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .desktop-newsletter {
    display: none;
  }

  .newsletter-mobile-page {
    display: block;
    margin-left: 80px;
  }

  .newsletter_btn-mobile {
    border-radius: 25px;
    font-size: 120%;
    font-weight: bolder;
    width: 175px;
    height: 50px;
    background: rgb(125, 114, 247);
    background: linear-gradient(220deg, rgba(125, 114, 247, 1) 52%, rgba(71, 62, 235, 1) 100%);
  }

  .newsletter-desktop-page {
    display: none;
  }

  .footer-social-desktop {
    display: none;
  }

  .footer-social-mobile {
    display: block;
    flex: none;
    margin-top: 0px;
    margin-left: 180px;
  }

  .footer-top {
    margin-top: 150px;
  }

  .overhead {
    margin-top: 265px;
    margin-bottom: 5px;
  }

  .overhead-p {
    padding: 15px 80px 15px;
  }

  .overhead-underline {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .opening-hours>p, .visit>p, .contact>p {
    padding: 0;
  }

  .image-block, .image-block2 {
    display: none;
  }

  .mobile-image-block {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .mobile-img {
    width: 350px;
    height: 300px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .download-iphone{
    width: 100%;
  }

  .mobile-footer-social-links a> img{
    width: 12%;
  }

  .footer-social-mobile{
    padding-top: 15px;
  }

  td {
    font-size: 80%;
  }

  .map>h2 {
    padding: 5px;
    margin: 0;
  }

  .copyright {
    height: 10px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 736px) {
  header {
    height: 100px;
    width: 100%;
  }

  h1 {
    font-size: 290%;
  }

  h4 {
    font-size: 140%;
    margin-top: 60px;
    margin-left: 80px;
    font-weight: lighter;
  }

  p {
    font-size: 90%;
  }

  .logo {
    width: 25%;
    margin: 15px 15px;
  }

  .desktop-navigation {
    display: none;
  }

  /* header nav */
  .mobile-navigation {
    display: block;
    width: 100%;
  }

  .mobile-navigation ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    overflow-y: auto;
  }

  .mobile-navigation ul li {
    list-style: none;
    background-color: #d01293;
  }

  .mobile-navigation ul li a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 15px;
  }

  .mobile-navigation ul li ul li {
    width: 100%;
  }

  .mobile-navigation ul li ul {
    background-color: #d01293;
    border-radius: 0 0 6px 6px;
  }

  .mobile-navigation ul li:hover ul {
    display: block;
  }

  .mobile-navigation ul li a:hover {
    background-color: #ddd;
    color: #473EEB;
  }

  .mobile-navigation ul li a.active:hover {
    color: #473EEB;
    background-color: #886BF2;
  }

  .mobile-navigation ul li ul li a:hover {
    background-color: #ddd;
    color: blue;
  }

  .mobile-navigation ul li {
    background-color: #d01293;
  }

  .mobile-navigation .mobile-menu {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .mobile-navigation .mobile-menu-icon {
    float: right;
    cursor: pointer;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon {
    background: #333;
    display: block;
    height: 3.3px;
    width: 26px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon:before {
    background: #FF9124;
    content: "";
    display: block;
    height: 100%;
    width: 60%;
    left: 10px;
    margin-top: -2px;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon::after {
    background: #FF9124;
    content: "";
    display: block;
    height: 100%;
    width: 60%;
    right: 10px;
    margin-top: 2px;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 5px;
  }

  .mobile-navigation .mobile-menu-btn {
    display: none;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu {
    max-height: 400px;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon {
    background: transparent;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon:before {
    transform: rotate(-45deg);
    top: 0;
    width: 100%;
    left: 0;
    margin-top: 0;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon:after {
    transform: rotate(45deg);
    top: 0;
    width: 100%;
    right: 0;
    margin-top: 0;
  }

  .mobile-navigation ul ul {
    visibility: hidden;
  }

  .mobile-navigation ul li.submenu:hover ul {
    visibility: visible;
  }

  .mobile-navigation .mobile-menu-icon {
    padding: 15px 10px;
    position: relative;
    margin: 67px 30px 0 40px;
  }

  .mobile-navigation ul li a {
    font-size: 80%;
  }

  .mobile-menu-icon {
    top: -15px;
    right: 5px;
  }

  .overhead {
    margin-top: 170px;
  }

  .overhead-p {
    margin: 0 100px 20px 100px;
    letter-spacing: normal;
    font-size: 90%;
    padding: 0;
  }

  .overhead-underline {
    margin-top: 35px;
  }

  .overhead-underline {
    margin-bottom: 30px;
  }

  .image-block, .image-block2, .image-block-explore {
    display: none;
  }

  .mobile-image-block {
    display: block;
    margin-left: 50px;
  }

  .mobile-img {
    margin: 0 20px 10px 0;
    width: 45%;
    cursor: pointer;
    height: 300px;
  }

  .download {
    margin-top: 50px;
    height: 325px;
  }

  .download>p {
    width: 520px;
  }

  .white {
    margin-left: 280px;
    margin-top: -20px;
    width: 300px;
  }

  .download>.white {
    color: white;
  }

  .black {
    width: 600px;
    margin-left: 550px;
    margin-top: -194px;
  }

.mobile-footer-social-links a> img{
  width: 12%;
}

.footer-social-mobile{
  padding-top: 15px;
}



  .footer-bottom {
    padding-top: 100px;
  }

  .opening-hours, .visit, .contact {
    margin-top: 25px;
  }

  .opening-hours>p, .visit>p, .contact>p {
    font-size: 90%;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .contact {
    margin-bottom: 25px;
  }



  td {
    font-size: 90%;
    padding: 0;
  }

  .map, .before_map {
    height: 100%;
  }

  .map>h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .copyright {
    height: 100%;
    padding: 0;
  }

  .copyright>p {
    font-size: 90%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 667px) {
  header {
    height: 100px;
  }

  .logo {
    margin: 15px 0 0 25px;
  }

  h1 {
    font-size: 190%;
  }
h3{
  font-size: 22px;
  font-weight: normal;
  margin: 22px 0;
}
  h4 {
    font-size: 140%;
    margin-top: 60px;
    margin-left: 80px;
    font-weight: lighter;
  }

  p {
    font-size: 90%;
  }

  .overhead {
    margin-top: 150px;
  }

  .overhead-p {
    font-size: 90%;
  }

  .explore {
    padding-bottom: 10px;
  }

  /* header nav */
  .mobile-navigation ul {
    position: sticky;
    height: 275px;
    overflow-y: auto;
  }

  .mobile-navigation ul li a {
    padding: 11.5px;
    color: black;
  }

  .mobile-navigation ul ul {
    visibility: hidden;
  }

  .mobile-navigation ul li.submenu:hover ul {
    visibility: visible;
  }

  .mobile-navigation .mobile-menu-icon {
    padding: 15px 10px;
    position: relative;
    margin: 67px 30px 0 40px;
  }

  .mobile-navigation ul li a {
    font-size: 80%;
  }

  .button {
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-left: 160px;
    padding-top: 50px;
  }

  .download {
    margin-top: 0;
    height: 250px;
  }

  .download>h1 {
    width: 100%;
    font-size: 180%;
    font-weight: normal;
  }

  .download>p {
    width: 70%;
    font-size: 90%;
    padding-top: 15px;
    margin: 0 0 0 200px;
  }

  .download-iphone>img {
    width: 10%;
  }

  .download-btn {
    margin: 20px 20px 0 20px;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: rgb(217, 4, 160);
    background: linear-gradient(0deg, rgba(217, 4, 160, 1) 17%, rgba(200, 237, 245, 1) 100%);
    box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, 0.33);
    margin-bottom: 50px;
  }

  .download-btn>img {
    float: left;
    margin: 0 0 0 12px;
    padding-right: px;
  }

  .download-btn>p {
    float: right;
    margin: 2px 4px 0;
    padding-left: 4px;
    font-size: 60%;
  }

  .download-iphone>img {
    width: 20%;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -140px;
    transform: rotatez(-10deg);
    z-index: -1;
  }

  .h1-mobile {
    display: block;
    padding-left: 200px;
  }

  .white, .black {
    display: none;
  }

  .opening-hours>h3 {
    margin-top: 30px;
  }

  .image-block-not-index {
    margin: 50px 0;
  }

  .image-block, .image-block2, .image-block-explore {
    display: none;
  }

  .newsletter_btn-mobile {
    width: 125px;
    height: 40px;
    margin-top: 10px;
    border-radius: 0;
  }

  .newsletter_btn-mobile> p{
    font-size: 70%;
  }

  .desktop-newsletter {
    display: none;
  }

  .newsletter-mobile-page {
    display: block;
    margin-left: 100px;
  }

  .newsletter_btn-mobile {
    border-radius: 25px;
    font-size: 85%;
    font-weight: 900;
    background: rgb(125, 114, 247);
    background: linear-gradient(220deg, rgba(125, 114, 247, 1) 52%, rgba(71, 62, 235, 1) 100%);
  }

  .newsletter-desktop-page {
    display: none;
  }

  .newsletter-mobile-page {
    float: left;
  }

  .footer-social-desktop {
    display: none;
  }

  .footer-social-mobile {
    display: block;
    flex: none;
    margin-top: 0px;
    margin-left: 80px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 150px;
  }

  .logo {
    width: 45%;
  }

  h1 {
    font-size: 32px;
    font-weight: normal;
  }

  h2 {
    font-size: 100%;
    font-weight: lighter;
  }

  h3 {
    font-size: 100%;
    font-weight: normal;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 50px;
  }

  h4 {
    font-size: 120%;
    margin-top: 0;
    margin-left: 40px;
    font-weight: lighter;
  }

  p {
    font-size: 90%;
    text-align: justify;
    margin-left: 100px;
  }

  .overhead {
    margin-bottom: 3px;
    margin-top: 190px;
  }

  .overhead-p {
    font-size: 90%;
    margin: 30px 50px 0px 50px;
    letter-spacing: normal;
    padding: 0;
  }

  .overhead-underline {
    margin-top: 35px;
    margin-bottom: 50px;
    width: 90%;
  }

  .overhead-underline-top {
    margin-bottom: 0;
    width: 90%;
  }

  .explore {
    padding-bottom: 10px;
    margin: 0;
  }

  .mobile-image-block {
    display: block;
    text-align: center;
  }

  .mobile-img {
    width: 350px;
    height: 250px;
    padding-bottom: 10px;
  }

  .visit, .contact {
    border-left: none;
  }

  .social {
    display: none;
  }

  /* header nav */
  .desktop-navigation {
    display: none;
  }

  .mobile-navigation {
    display: block;
    width: 100%;
  }

  .mobile-navigation ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: sticky;
    overflow-y: auto;
    height: 667px;
  }

  .mobile-navigation .mobile-menu {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .mobile-navigation ul li a:hover {
    background-color: #ddd;
    color: #473EEB;
  }

  .mobile-navigation ul li a.active:hover {
    color: #473EEB;
    background-color: #886BF2;
  }

  .mobile-navigation ul li ul li a.subactive:hover {
    color: #473EEB;
    background-color: #9886F2;
  }

  .mobile-navigation ul li ul li a:hover {
    background-color: #ddd;
    color: blue;
  }

  .mobile-navigation ul li {
    list-style: none;
    background-color: #d01293;
  }

  .mobile-navigation ul li a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 80%;
    padding: 11.5px;
    color: black;
  }

  .mobile-navigation ul li ul li a {
    color: black;
  }

  .mobile-navigation ul ul {
    visibility: hidden;
  }

  .mobile-navigation ul li.submenu:hover ul {
    visibility: visible;
  }

  .mobile-navigation .mobile-menu-icon {
    margin: 116px 30px 0 40px;
    padding: 15px 10px;
    position: relative;
    float: right;
    cursor: pointer;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon {
    background: #333;
    display: block;
    height: 3.3px;
    width: 26px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon:before {
    background: #FF9124;
    content: "";
    display: block;
    height: 100%;
    width: 60%;
    left: 10px;
    margin-top: -2px;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }

  .mobile-navigation .mobile-menu-icon .mobile-navigation-icon::after {
    background: #FF9124;
    content: "";
    display: block;
    height: 100%;
    width: 60%;
    right: 10px;
    margin-top: 2px;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 5px;
  }

  .mobile-navigation .mobile-menu-btn {
    display: none;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu {
    max-height: 600px;
    width: 100%;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon {
    background: transparent;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon:before {
    transform: rotate(-45deg);
    top: 0;
    width: 100%;
    left: 0;
    margin-top: 0;
  }

  .mobile-navigation .mobile-menu-btn:checked~.mobile-menu-icon .mobile-navigation-icon:after {
    transform: rotate(45deg);
    top: 0;
    width: 100%;
    right: 0;
    margin-top: 0;
  }

  .mobile-menu-icon {
    top: -50px;
    right: 10px;
  }

  .button {
    width: 100%;
    padding: 0 3px 0 3px;
  }

  .download {
    margin-top: 0;
    height: 250px;
  }

  .h1-mobile {
    display: block;
    width: 100%;
    font-size: 180%;
    font-weight: normal;
  }

  .download>p {
    width: 70%;
    font-size: 90%;
    padding-top: 15px;
    margin: 0 auto;
  }

  .download-btn {
    margin: 0 0 0 25px;
    margin-bottom: 0px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: rgb(217, 4, 160);
    background: linear-gradient(0deg,
        rgba(217, 4, 160, 1) 17%,
        rgba(200, 237, 245, 1) 100%);
    box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, 0.33);
    margin-bottom: 40px;
  }

  .download-btn>img {
    float: left;
    margin: 0 0 0 20px;
    padding-right: 4px;
  }

  .download-btn>p {
    float: left;
    margin: 0 auto;
    padding-left: 8px;
  }

  .download-iPhone {
    width: 100%;
  }

  .download-iphone>img {
    width: 50%;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: -20px;
    transform: rotatez(-10deg);
  }

  .white, .black {
    display: none;
  }

  .opening-hours>h3 {
    margin-top: 30px;
  }

  .image-block-not-index {
    margin: 50px 0;
  }

  .image-block, .image-block2, .image-block-explore {
    display: none;
  }

  .newsletter_btn-mobile {
    width: 175px;
    height: 50px;
    border-radius: 0;
  }

  .desktop-newsletter {
    display: none;
  }

  .newsletter-mobile-page {
    display: block;
    margin-left: 100px;
  }

  .newsletter_btn-mobile {
    border-radius: 25px;
    font-size: 85%;
    font-weight: 900;
    background: rgb(125, 114, 247);
    background: linear-gradient(220deg, rgba(125, 114, 247, 1) 52%, rgba(71, 62, 235, 1) 100%);
  }

  .newsletter-desktop-page {
    display: none;
  }

  .newsletter-mobile-page {
    float: left;
  }

  .footer-social-desktop {
    display: none;
  }

  .footer-social-mobile {
    display: block;
    flex: none;
    margin-top: 100px;
    margin-left: -220px;
  }

  .footer-bottom {
    flex-direction: column;
    height: 100%;
  }

  .opening-hours, .visit, .contact {
    margin-top: 25px;
  }

  .opening-hours>p, .visit>p, .contact>p {
    font-size: 90%;
    width: 90%;
    margin: 0 auto;
  }

  .contact {
    margin-bottom: 25px;
  }

  td {
    font-size: 90%;
  }

  .before_map {
    height: 100%;
  }

  .map {
    height: 100%;
  }

  .copyright {
    height: 100%;
    padding: 0;
  }

  .copyright>p {
    font-size: 90%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
